{% extends 'makeup/base.html' %}
{% load static %}

   {%block content%}
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Product Grid</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- product section -->
      <section class="product_section layout_padding">
         <div class="container">
            <div class='raw center' style="">
               {% comment %} <div class="col-sm-6 col-md-4 col-lg-4"></div> {% endcomment %}
               <div class="col-sm-6 col-md-4 col-lg-4" >
                  <div class="btn-box">
                     <a href="{% url 'add-products' %}">
                     Add new product
                     </a>
                  </div>
                  {% comment %} <button type="button" class="btn btn-primary custom-btn"><a href="{% url 'add-products' %}" style="color: white;">Create Products</a></button> {% endcomment %}
               </div>
               {% comment %} <div class="col-sm-6 col-md-4 col-lg-4"></div> {% endcomment %}
            </div>
            
            <div class="row">
               
               {%for product in products%}
               
               <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     
                     <div class="img-box">
                        <img src="{{product.image.url}}" alt="">
                     </div>

                     <div class="detail-box">
                        <h5>
                           {{product.name}}
                        </h5>
                        <h6>
                           ${{product.price}}
                        </h6>
                     </div>
                     <!-- Call to action buttons -->
                     <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <a class='icon' href="{% url 'edit-product' product.id %}"><i class="fa fa-edit"></i></a></button>
                        </li>
                        <li class="list-inline-item">
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure to delete {{product.name}}?');"><a class='icon' href="{% url 'delete-product' product.id %}"><i class="fa fa-trash"></i></a></button>
                        </li>
                    </ul>
                  </div>
               </div>
               {% endfor %}

              
            {% comment %} <div class="btn-box">
               <a href="">
               View All products
               </a>
            </div> {% endcomment %}
         </div>
         </div>
      </section>
      <!-- end product section -->
      {%endblock content%}
