{% extends 'makeup/base.html' %}
{% load static %}

   {%block content%}
         <!-- slider section -->
         <section class="slider_section ">
            <div class="slider_bg_box">
               <img src="{%static 'images/slider-bg.jpg' %}" alt="">
            </div>
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container ">
                        <div class="row">
                           <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                 <h2>
                                    <span>
                                       Cosmetic Boutique                                   
                                     </span>
                                 </h2>   
                                 <p> 
                                    Merchant wants us to create website for her business which is selling cosmetic products. She wants to display all brand and products. Brand names, origin. Product includes product name and brand and Expire_date. She wants to display the name of her business in home page as (Cosmetic Boutique). Then, display list in sidebar as link to home, brands and products. 
                                 </p>
                                 <div class="btn-box">
                                    <a href="" class="btn1">
                                    Shop Now
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item ">
                     <div class="container ">
                        <div class="row">
                           <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                 <h2>
                                    <span>
                                       Cosmetic Boutique
                                    </span>
                                  </h2>
                                 <p>
                                    Merchant wants us to create website for her business which is selling cosmetic products. She wants to display all brand and products. Brand names, origin. Product includes product name and brand and Expire_date. She wants to display the name of her business in home page as (Cosmetic Boutique). Then, display list in sidebar as link to home, brands and products. 
                                 </p>
                                 <div class="btn-box">
                                    <a href="" class="btn1">
                                    Shop Now
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container ">
                        <div class="row">
                           <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                 <h2>
                                    <span>
                                    Cosmetic Boutique
                                    </span>
                                  </h2>
                                 <p>
                                    Merchant wants us to create website for her business which is selling cosmetic products. She wants to display all brand and products. Brand names, origin. Product includes product name and brand and Expire_date. She wants to display the name of her business in home page as (Cosmetic Boutique). Then, display list in sidebar as link to home, brands and products. 
                                 </p>
                                 <div class="btn-box">
                                    <a href="" class="btn1">
                                    Shop Now
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container">
                  <ol class="carousel-indicators">
                     <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                     <li data-target="#customCarousel1" data-slide-to="1"></li>
                     <li data-target="#customCarousel1" data-slide-to="2"></li>
                  </ol>
               </div>
            </div>
         </section>
         <!-- end slider section -->
      </div>
      <!-- report section -->
      <section class="why_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Report
                  {% comment %} {{report}} {% endcomment %}
               </h2>
            </div>
            <div class="row">
               {%for name,value in reports.items%}
               <div class="col-md-4">
                  <div class="box ">
                     <div class="img-box">
                       
                     </div>
                     <div class="detail-box">
                        <h5>
                           {{name}}
                        </h5>
                        <p>
                           {{value}}
                        </p>
                     </div>
                  </div>
               </div>
               {%endfor%}
                 
            </div>
         </div>
      </section>
      <!-- end report section -->
      
      <!-- product section -->
      <section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  New <span>products</span>
                  
               </h2>
            </div>
            <div class="row">
               {%for product in newest%}
               
               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a href="{{product.id}}" class="option1">
                           Add To Cart
                           </a>
                           <a href="{%url 'product-detail' product.id%}" class="option2">
                           show details
                           </a>
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="{{product.image.url}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           {{product.name}}
                        </h5>
                        <h6>
                           ${{product.price}}
                        </h6>
                     </div>
                  </div>
               </div>
               {% endfor %}
               
            </div>
            <div class="btn-box">
               <a href="{%url 'products'%}">
               View All products
               </a>
            </div>
         </div>
      </section>
      <!-- end product section -->

      <!-- client section -->
      <section class="client_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Developing team
               </h2>
            </div>
            <div id="carouselExample3Controls" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="box col-lg-10 mx-auto">
                        <div class="img_container">
                           <div class="img-box">
                              <div class="img_box-inner">
                                 <img src="{%static 'images/client.jpg' %}" alt="">

                              </div>
                           </div>
                        </div>
                        <div class="detail-box">
                           <h5>
                              Saba Fadhl 
                           </h5>
                           <h6>
                              Django developer
                           </h6>
                           <p>
                              Dignissimos reprehenderit repellendus nobis error quibusdam? Atque animi sint unde quis reprehenderit, et, perspiciatis, debitis totam est deserunt eius officiis ipsum ducimus ad labore modi voluptatibus accusantium sapiente nam! Quaerat.
                           </p>
                        </div>
                     </div>
                  </div>
                  
               </div>
               <div class="carousel_btn_box">
                  <a class="carousel-control-prev" href="#carouselExample3Controls" role="button" data-slide="prev">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExample3Controls" role="button" data-slide="next">
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                  </a>
               </div>
            </div>
         </div>
      </section>
      <!-- end client section -->
      {%endblock content%}