{% extends 'makeup/base.html' %}
{% load static %}

   {%block content%}
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Product Grid</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- product section -->
      <section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Our <span>products</span>
               </h2>
            </div>
            <div class="row">
               
               {%for product in products%}
               
               <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     <div class="option_container">
                         <div class="options">
                           <a href="{{product.id}}" class="option1">
                           Add To Cart
                           </a>
                           
                           <a href="{%url 'product-detail' product.id%}" class="option2">
                           show details
                           </a>
                           {% if user.is_authenticated %}
                              <!-- <button type="button" class="btn btn-success px-3"><i class="far fa-thumbs-up" aria-hidden="true"></i></button> -->
                              <a class="option1 likebutton" id="like{{t.id}}" href="#" data-catid="{{ t.id }}">
                                 <i class="fa fa-heart "></i>
                              </a>
                     {% endif %}
                        </div> 
                     </div>
                     <div class="img-box">
                        <img src="{{product.image.url}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           {{product.name}}
                        </h5>
                        <h6>
                           ${{product.price}}
                        </h6>
                        
                     </div>
                     {% comment %} {% if user.is_authenticated %}
                              <!-- <button type="button" class="btn btn-success px-3"><i class="far fa-thumbs-up" aria-hidden="true"></i></button> -->
                              <a class="btn btn-success likebutton" id="like{{t.id}}" href="#" data-catid="{{ t.id }}">
                                 <i class="fa fa-like"></i>
                              </a>
                     {% endif %}
                        <a href="{{product.id}}" >
                        <i class="fa fa-edit"></i>
                        </a>
                        {% endcomment %}
                        
                  </div>
                  <div class="d-flex p-1  center">
                    
                        {%if product in fav%}
                     <div class="col-sm-6 col-md-4 col-lg-3">
                        <a class="heart no"  href='#' data-catid="{{ product.id }}"><i class="fav fa fa-heart"></i></a>
                     </div> 
                     {%else%}

                     <div class="col-sm-6 col-md-4 col-lg-3">
                        <a class="heart yes"  href='#' data-catid="{{ product.id }}"><i class="fav fa fa-heart-o"></i></a>
                     </div> 
                     {%endif%}
                     
                     <div class="col-sm-6 col-md-4 col-lg-6">
                        <div class="rating">
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star"></span>
                           <span class="fa fa-star"></span>
                     </div>
                  </div>
                   
               </div>
               
               
               </div>
               {% endfor %}  
            {% comment %} <div class="btn-box">
               <a href="">
               View All products
               </a>
            </div> {% endcomment %}
         </div>
         </div>
      </section>
      <!-- end product section -->
      {%endblock content%}
{%block js %}

<script>
  

$('.heart').click(function(){
   event.preventDefault();
    var catid;
    catid = $(this).attr("data-catid");
    //console.log("javascript run", catid, 1);
    //console.log("javascript run");
    /*icon = $(this).find("i");
    console.log("icon");
    icon.hasClass("fa fa-heart"){
      icon.addClass("fa fa-heart-o").removeClass("fa fa-heart");
    }else{
      icon.addClass("fa fa-heart").removeClass("fa fa-heart-o");
    }*/

    $.ajax(
    {
        type:"GET",
        url: "/api/favorite-product/",
        data:{
                 product_id: catid
                 
        },
        success: function( data ) 
        {
            console.log("this data ", data)
            // $( '#like'+ catid ).remove();
            // $( '#message' ).text(data);
        }
     })

     location.reload();
})



</script>

{% endblock js%} 
